@mixin flex-container(
  $align: center,
  $justify: center,
  $direction: row,
  $gap: 0
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
