$breakpoint-lg: 1300px;
$breakpoint-md: 1229px;

$border-color: #00000033;
$drop-shadow-color: #98989833;

$primary-black: #141414;
$black-40: #00000066;
$white: #ffffff;
$primary-blue: #0b5aa5;

$primary-font: "Poppins", sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;

$primary-gradient: linear-gradient(#0e5293, #2876c1);
